$color-bg-light: #F2F5F8;
$color-bg-blue: #458AFB;
$color-bg-blue-hover: #5696FF;
$color-bg-white: #FFFFFF;

$color-text-dark: #0D2839;
$color-text-grey: #86939C;
$color-text-grey-light: #B9C2C9;

$color-status-green: #9ECB45;
$color-status-orange: #FE6845;
$color-button-yellow: #FFBD27;

$shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.25);