@use 'variables' as *;
@use 'typography' as *;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');

body {
  font-family: 'Alegreya Sans', sans-serif;
  background-color: $color-bg-light;
  margin: 0;
  color: $color-text-dark;
  font-weight: 400;
  font-size: 18px;
}